<!-- <app-pagetitle title="Campaign Dashboard" [breadcrumbItems]="breadCrumbItems"></app-pagetitle> -->


<div class="col-xl-12">
    <div class="card">
      <div class="card-header topHeadList">
        <h4 class="card-title">Package List Details </h4>
  
        <span class="count" *ngIf="tags">Count : <strong>{{tags.length}}</strong></span>
        <div class="display">
            <button class="btn btn-light selectbox" routerLink="/dashboard/create-package">Create Package</button>&nbsp;            
          </div>
      
      </div>
  
      <div class="card-body">
        <div class="table-responsive">
          
  
          <table class="table mb-0" id="excel-table">
            <thead class="table-light">
              <tr>
                <th class="text-center">S.No</th>
                <th class="text-center">Booking Id </th>
                <th class="text-center">From city</th>
                <th class="text-center">Package City </th>
                <th class="text-center">Package Title </th>
                <th class="text-center">Days </th>
                <th class="text-center">Current Price</th>
                <th class="text-center">Per Person </th>
                <th class="text-center">ShigtSeeing/Event </th>
                <th class="text-center">Created At </th>
                <th class="text-center">Action </th>
  
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of tags | paginate:{itemsPerPage: itemsPerPageC, currentPage:p};let i=index;">
                <td class="text-center" scope="row">{{(p - 1) * itemsPerPageC + i + 1}}</td>
                <td class="text-center">{{data?.booking_id ? data?.booking_id : 'N.A' }}</td>
                <td class="text-center">{{data?.from_city ? data?.from_city : 'N.A'}}</td>
                <td class="text-center">{{data?.p_id ? data.p_id : 'N.A'}}</td>
                <td class="text-center">{{data?.package_title ? data?.package_title : 'N.A'}}</td>
                <td class="text-center">{{data?.days ? (data?.days): 'N.A'}}</td>
                <td class="text-center">{{data?.current_price ? data?.current_price : 'N.A'}}</td>
                <td class="text-center">{{data?.perchange ? data?.perchange : 'N.A'}}</td>
                <td class="text-center">{{data?.day_activity ? data?.day_activity : 'N.A'}}/{{data?.event1 ? data?.event1 : 'N.A'}}</td>
                <td class="text-center">{{data.created_at ? (data?.created_at | date : 'dd-MM-yyyy h:mm a'): 'N.A'}}</td>
                <td><button routerLink="/dashboard/edit-package-details/{{data.id}}"><i class="fa fa-edit"></i></button>&nbsp;
                  <button  (click)="confirm(data.booking_id)"><i class="fa fa-trash"></i></button></td>
  
              </tr>
              <tr *ngIf="tags && tags?.length <= 0">
                <td colspan="9" class="text-center" style="color:rgb(143, 71, 71);">Records Not Found</td>
              </tr>
            </tbody>
          </table>
  
        </div>
        <div *ngIf="tags &&  tags.length>0" id="pagination" class="mt-2">
          <pagination-controls (pageChange)="p=$event"></pagination-controls>
        </div>
      </div>
    </div>
  
  </div>
  
  