<!-- <app-pagetitle title="Campaign Dashboard" [breadcrumbItems]="breadCrumbItems"></app-pagetitle> -->
<div class="card-header topHeadList">
    <h4 class="card-title">Edit Meta Tags </h4>

   
</div>

<div class="col-xl-6">
    <div class="form-control">
    <div class="modal-content" *ngIf="dataLoaded">
        <form [formGroup]="createPackage" enctype="multipart/form-data" (ngSubmit)="editTags()">
            <div class="modal-header">
                
                
            </div>
            <div class="modal-body">
                <label for="cc-exp" class="control-label mb-1">Category</label>
                <div class="form-group select_drop mb-4">
                    <select                      
                      class="form-control"
                      #category
                      (change)="getSubCat(category.value);" formControlName="category" name="category"
                    >
                      <option selected value="null">Category</option>
                      <option
                      *ngFor="let option of categoryOptions"
                      [value]="option.category"
                      >
                       {{option.category}}
                      </option>
                    </select>
                  </div>
                  <br>
                  <label for="cc-exp" class="control-label mb-1">Sub-Category</label>
                  <div class="form-group select_drop mb-4">
                    <select                      
                      class="form-control"
                      formControlName="subcategory" name="subcategory"
                    >
                      <option selected value="null">Sub-Category</option>
                      <option
                      *ngFor="let option of subCategoryOptions"
                      [value]="option.subcategory"
                      >
                       {{option.subcategory}}
                      </option>
                    </select>
                  </div>
                
                <div class="form-group mb-4">
                    <label for="cc-exp" class="control-label mb-1">Image</label>
                    <input  type="file"  (change)="selectFile($event)"  class="form-control" value="" formControlName="image" name="image" data-val="true" id="edit_name" accept="image/*">
                </div>
                <div class="form-group mb-4">
                    <label for="cc-exp" class="control-label mb-1">Meta Title</label>
                    <input name="filename" type="text" class="form-control" value="" formControlName="meta_title" name="meta_title" required="" data-val="true" id="edit_filename1">
                </div>
                <div class="form-group mb-4">
                    <label for="cc-exp" class="control-label mb-1">Meta Description</label>
                    <input name="filename" type="text" class="form-control" value="" formControlName="meta_description" name="meta_description" required="" data-val="true" id="edit_filename1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" >Add New</button>
              
            </div>
        </form>
    </div>
</div>
      </div>
  
  