<!-- <app-pagetitle title="Campaign Dashboard" [breadcrumbItems]="breadCrumbItems"></app-pagetitle> -->
<div class="card-header topHeadList">
    <h4 class="card-title">Edit Package </h4>

   

    <div class="display">
      <button class="btn btn-light selectbox" routerLink="/package/add-package">Add</button>&nbsp;
      <button class="btn btn-light selectbox" routerLink="/package/add-category">Add Category</button>&nbsp;
      <button class="btn btn-light selectbox" routerLink="/package/show-category">Show Category</button>&nbsp;
      <button class="btn btn-light selectbox" routerLink="/package/add-Subcategory">Add Sub-Category</button>&nbsp;
      <button class="btn btn-light selectbox" routerLink="/package/show-Subcategory">Show Sub-Category</button>&nbsp;
    </div>
</div>

<div class="col-xl-6">
    <div class="form-control">
    <div class="modal-content" *ngIf="dataLoaded">
        <form [formGroup]="createPackage" enctype="multipart/form-data" (ngSubmit)="EditPackage()">
            <div class="modal-header">
                
                
            </div>
            <div class="modal-body">
                <label for="cc-exp" class="control-label mb-1">Category</label>
                <div class="form-group select_drop mb-4">
                    <select                      
                      class="form-control"
                      #category
                      (change)="getSubCat(category.value);" formControlName="package" name="package"
                    >
                      <option selected value="null">Category</option>
                      <option
                      *ngFor="let option of categoryOptions"
                      [value]="option.category"
                      >
                       {{option.category}}
                      </option>
                    </select>
                  </div>
                  <br>
                  <label for="cc-exp" class="control-label mb-1">Sub-Category</label>
                  <div class="form-group select_drop mb-4">
                    <select                      
                      class="form-control"
                      formControlName="subcategory" name="subcategory"
                    >
                      <option selected value="null">Sub-Category</option>
                      <option
                      *ngFor="let option of subCategoryOptions"
                      [value]="option.subcategory"
                      >
                       {{option.subcategory}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group mb-4">
                    <label for="cc-exp" class="control-label mb-1">Month</label>
                    <select class="form-control" name="month" id="month" formControlName="month" name="month">
                      <option value="APR 2023">APR 2023</option>
                      <option value="MAY 2023">MAY 2023</option>
                      <option value="JUNE 2023">JUNE 2023</option>
                      <option value="JULY 2023">JULY 2023</option>
                      <option value="AUG 2023">AUG 2023</option>
                      <option value="SEP 2023">SEP 2023</option>
                      <option value="OCT 2023">OCT 2023</option>
                      <option value="NOV 2023">NOV 2023</option>
                      <option value="DEC 2023">DEC 2023</option>
                      <option value="JAN 2023">JAN 2023</option>
                   </select>
                </div>
                <div class="form-group mb-4">
                    <label for="cc-exp" class="control-label mb-1">Number Of People</label>
                    <select name="nop" class="required form-control valid" formControlName="nop" name="nop">
                        <option value="1">1</option>
                        <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                      <option value="32">32</option>
                      <option value="33">33</option>
                      <option value="34">34</option>
                      <option value="35">35</option>
                    </select>
                </div>
                <div class="form-group mb-4">
                    <label for="cc-exp" class="control-label mb-1">Package PDF</label>
                    <input  type="file"  (change)="selectFile($event)"  class="form-control" value="" formControlName="pdf" name="pdf" data-val="true" id="edit_name" accept="pdf/*">
                </div>
                <div class="form-group mb-4">
                    <label for="cc-exp" class="control-label mb-1">Message Name</label>
                    <input name="filename" type="text" class="form-control" value="" formControlName="message" name="message" required="" data-val="true" id="edit_filename1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" >Save</button>
              
            </div>
        </form>
    </div>
</div>
      </div>
  
  